* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(180deg, #DDF5A9 0%, #BDEF90 22.44%, #07CB07 119.67%);
    background-repeat: no-repeat;
    height: 100%;
}

header {
    display: block;
    width: 100%;
    height: 15vh;
    background-color: #fa5ea9;
}

#bars-menu {
    margin-left: 10vw;
    transform: scale(3);
    background-color: inherit;
}

.nav-menu {
    position: absolute;
    width: 100%;
    height: 15vh;
    align-items: center;
    display: block;
    z-index: 1;
}

.container-cards {
    margin-top: 50px;
    overflow: auto;
    white-space: nowrap;
}

.container-cards .card {
    margin-right: 10vw;
    display: inline-block;
}

.card-body h5 {
    font-size: 15px;
}

.menu-itens {
    display: flex;
    justify-content: space-between;
}

.d-block {
    height: 250px;
}

.card {
    height: 100rem;
}

.pesquisa {
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
}

.pesquisa button {
    border-radius: 0 10px 10px 0;
}

.barra-pesquisa {
    width: 300px;
    height: 40px;
    border-radius: 10px 0 0 10px;
}

.opcoes {
    display: none;
}

.banner {
    margin-top: 50px;
    width: 100%;
}

.img-banner{
    width: 100%;
}

.menu-hamburguer {
    z-index: 3;
    position: absolute;
    background-color: gray;
    height: 400px;
    width: 200px;
}

li {
    list-style: none;
}

.menu-hamburguer ul li a {
    color: black;
}

.produto {
    overflow: hidden;
    height: 400px;
    width: 230px;
    background-color: rgb(242, 242, 188);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagem {
    margin-top: 15px;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info h1 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: black;
}

.info p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 13px;
    color: black;
}

.info p {
    margin-top: -10px;
    margin-left: 20px;
    margin-right: 10px;
}

.info {
    margin-top: -20px;
}

.titulo {
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao2 {
    transition: .1s;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 180px;
    background: #5BA888;
    margin-bottom: 10px;
}

.botao2:hover {
    scale: 1.1;
    background-color: #4b8f73;
}

.botao2 p {
    margin-top: 10px;
    font-size: 20px;
}

.navList {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-color: #56a143;
    transform: translateX(-100%);
    padding-top: 80px;
    z-index: 1;
    transition: .1s;

    padding-left: 10px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.navList.active {
    transform: translateX(0);
}

.navList .x {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 40px;
    display: none;
    transition: none;
}

.navList a {
    text-decoration: none;
    color: inherit;
}

.navList li {
    list-style: none;
}

.navList p {
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: -1px;
}

.carousel {
    z-index: 0;
}

nav .navList .btnModoNoturno button {
    display: flex;
    align-items: center;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 0;
    background-color: #717d96;
}

nav .navList .btnModoNoturno button span {
    display: block;
    width: 23px;
    height: 23px;
    margin-left: 2px;
    background-color: #000;
    border-radius: 50%;
    transition: margin-left .3s, background-color .3s;
}

nav .navList .btnModoNoturno button.activeButton {
    background-color: green;
}

nav .navList .btnModoNoturno button.activeButton span {
    margin-left: 24.5px;
    background-color: #fff;
}

#carouselExampleCaptions {
    z-index: 0;
}

.img-banner {
    height: 200px;
}

/* pagina do produto */

.carousel {
    background-color: #d6f2d6;
}

.carousel-control-next-icon {
    opacity: 0.5;
    background-color: #969696;
}

.carousel-control-prev-icon {
    opacity: 0.5;
    background-color: #969696;
}

.info-produto {
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
    margin-right: 6vw;
}

.coracao .fa-heart {
    margin-top: 10px;
    display: none;
    scale: 2;
}

.coracao .fa-heart.ativo {
    display: block;
}

.info-produto p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: black;
}

.info-produto img {
    margin-top: -30px;
    height: 100px;
}

.descricao-produto h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: black;
}

.descricao-produto p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: black;
}

.descricao-produto {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 1vh;
}

.linha {
    margin-top: 1vh;
    height: 2px;
    width: 100%;
    background-color: #053f16;
}

.img-compra {
    height: 50px;
}

.btn-compra {
    height: 50px;
    width: 200px;
    background-color: #d8ffef;
}

.compra {
    display: flex;
}

a .btn-compra {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 23px;
    color: rgb(8, 11, 11);
    text-decoration: none;
}

.avaliacao{
    display: flex;
    padding-left: 150px;
}

.star-icon{
    list-style-type: none;
    border: 0px solid #fff;
    cursor: pointer;
    color: #fa5ea9;
    font-size: 50px;
}

.star-icon::before{
    content:"\2605"
}

.star-icon.active ~ .star-icon::before{
    content: "\2606";
}

.avaliacao:hover .star-icon::before{
    content: "\2605";
}

.star-icon:hover ~ .star-icon::before{
    content: "\2606";
}


.barra-pesquisa {
    outline: none;
    padding-left: 10px;
}
.carrousel-produto{
    height: 100%;
}

/* rodapé */
footer {
    width: 100%;
    height: 350px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #68dd50;
}

footer a {
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    text-decoration: underline;
}

footer .boxFooter {
    width: 110px;
    height: 140px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    color: #ffffff;
}

footer .container-footer5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .container-footer5 button {
    width: 100px;
    height: 30px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 6px;
    color: #fff;
}

.fa-brands {
    font-size: 30px;
    color: #fff;
}

/* Responsividade */
@media screen and (min-width:1200px) {
    .menuMobile {
        display: none;
    }

    .home.carousel {
        width: 1200px;
        height: 500px;
        margin: 0 auto;
    }

    .d-block {
        height: 500px;
    }

    .container-cards {
        display: flex;
        justify-content: center;
        margin-left: 100px;
    }

    .container-cards .card {
        margin-right: 4.3vw;
    }

    .nav-menu {
        width: 1200px;
        margin: 0 auto;
    }

    header {
        display: flex;
        justify-content: center;
    }

    .navList {
        display: none;
    }

    .pesquisa {
        margin-top: -5vh;
    }

    .barra-pesquisa {
        height: 40px;
        width: 600px;
    }

    .pesquisa button {
        height: 40px;
    }

    .opcoes {
        display: flex;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 23px;
        gap: 30px;
        justify-content: center;
        align-items: flex-end;
    }

    .opcoes li a {
        color: #fff;
        text-decoration: none;
    }

    .opcoes li a:hover {
        color: #fff;
        text-decoration: underline;
    }

    .img-logo {
        scale: 1.3;
        margin-top: 10px;
        background-color: #000;
    }

    .img-login {
        scale: 1.3;
        margin-top: 13px;
        background-color: #000;
    }

    .img-banner {
        width: 1100px;
    }

    .banner {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .seta{
        scale: 2;
        overflow: hidden;
    }
    .produto-slide.carousel {
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }
}

.h1-restrito{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #fa5ea9;
}

.h3-restrito{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #f8439b;
}

.body-restrito{
    background: #022500;
}