* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #6bf36b;
}

header {
    width: 100%;
    height: 10vh;
    background-color: #F59DC7;
}

#bars-menu{
    margin-left: 10vw;
    scale: 3;
    background-color: inherit;
}

.nav-menu{
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
}